<!DOCTYPE html>
<html lang="cn">
	<% include header.html %>
	<body id="body" data-spy="scroll" data-target=".header">
	<% include navigation.html %>
	<!-- About -->
	<div id="about">
		<div class="container content-lg">
			<div class="row">
				<div class="col-sm-3 sm-margin-b-30">
					<div class="text-right sm-text-left">
						<h2 class="margin-b-0">简介</h2>
						<p>关于我</p>
					</div>
				</div>
				<div class="col-sm-8 col-sm-offset-1">
					<div class="margin-b-60">
						<p>我叫滕阳,今年26岁,来自江苏盐城</p>
						<p>目前就职于广联达科技有限公司,职业:软件工程师</p>
					</div>

					<!-- Progress Box -->
					<div class="progress-box">
						<h5>C++ <span class="color-heading pull-right">50%</span></h5>
						<div class="progress">
							<div class="progress-bar bg-color-base" role="progressbar" data-width="87"></div>
						</div>
					</div>
					<div class="progress-box">
						<h5>HTML5 <span class="color-heading pull-right">80%</span></h5>
						<div class="progress">
							<div class="progress-bar bg-color-base" role="progressbar" data-width="96"></div>
						</div>
					</div>
					<div class="progress-box">
						<h5>JavaSript <span class="color-heading pull-right">60%</span></h5>
						<div class="progress">
							<div class="progress-bar bg-color-base" role="progressbar" data-width="52"></div>
						</div>
					</div>
					<div class="progress-box">
						<h5>Flex <span class="color-heading pull-right">77%</span></h5>
						<div class="progress">
							<div class="progress-bar bg-color-base" role="progressbar" data-width="77"></div>
						</div>
					</div>
					<!-- End Progress Box -->
				</div>
			</div>
			<!--// end row -->
		</div>
	</div>
	<!-- End About -->
	<% include footer.html%>
	</body>
</html>