<!DOCTYPE html>
<% include header.html %>
<html lang="cn">

	<body id="body" data-spy="scroll" data-target=".header">
	<% include navigation.html %>
	<!--activity-->
	<div id="activity">
		<div class="bg-color-sky-light">
			<div class="container content-lg">
				<div class="row">
					<div class="col-sm-3 sm-margin-b-30">
						<div class="text-right sm-text-left">
							<h2 class="margin-b-0">最新动态</h2>
							<p>我的日常</p>
						</div>
					</div>
					<div class="col-sm-8 col-sm-offset-1">
						<div class="widget-box transparent">
							<div class="widget-header widget-header-small">
								<h4 class="widget-title blue smaller">
									<i class="ace-icon fa fa-rss orange"></i>
									动态
								</h4>

								<div class="widget-toolbar action-buttons">
									<a href="#" data-action="reload">
										<i class="ace-icon fa fa-refresh blue"></i>
									</a>
									&nbsp;
									<a href="#" class="pink">
										<i class="ace-icon fa fa-trash-o"></i>
									</a>
								</div>
							</div>
							<div class="widget-body">
								<div class="widget-main padding-8">
									<div id="profile-feed-1" class="profile-feed">
										<div class="profile-activity clearfix">
											<div>
												<img class="pull-left" alt="Alex Doe's avatar" src="assets/images/avatars/avatar5.png" />
												<a class="user" href="#"> Alex Doe </a>
												changed his profile photo.
												<a href="#">Take a look</a>

												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i> an hour ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>

										<div class="profile-activity clearfix">
											<div>
												<img class="pull-left" alt="Susan Smith's avatar" src="assets/images/avatars/avatar1.png" />
												<a class="user" href="#"> Susan Smith </a>

												is now friends with Alex Doe.
												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i> 2 hours ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>

										<div class="profile-activity clearfix">
											<div>
												<i class="pull-left thumbicon fa fa-check btn-success no-hover"></i>
												<a class="user" href="#"> Alex Doe </a>
												joined
												<a href="#">Country Music</a>

												group.
												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i> 5 hours ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>

										<div class="profile-activity clearfix">
											<div>
												<i class="pull-left thumbicon fa fa-picture-o btn-info no-hover"></i>
												<a class="user" href="#"> Alex Doe </a>
												uploaded a new photo.
												<a href="#">Take a look</a>

												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i> 5 hours ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>

										<div class="profile-activity clearfix">
											<div>
												<img class="pull-left" alt="David Palms's avatar" src="assets/images/avatars/avatar4.png" />
												<a class="user" href="#"> David Palms </a>

												left a comment on Alex's wall.
												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i> 8 hours ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>

										<div class="profile-activity clearfix">
											<div>
												<i class="pull-left thumbicon fa fa-pencil-square-o btn-pink no-hover"></i>
												<a class="user" href="#"> Alex Doe </a>
												published a new blog post.
												<a href="#">Read now</a>

												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i> 11 hours ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>

										<div class="profile-activity clearfix">
											<div>
												<img class="pull-left" alt="Alex Doe's avatar" src="assets/images/avatars/avatar5.png" />
												<a class="user" href="#"> Alex Doe </a>

												upgraded his skills.
												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i> 12 hours ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>

										<div class="profile-activity clearfix">
											<div>
												<i class="pull-left thumbicon fa fa-key btn-info no-hover"></i>
												<a class="user" href="#"> Alex Doe </a>

												logged in.
												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i> 12 hours ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>

										<div class="profile-activity clearfix">
											<div>
												<i class="pull-left thumbicon fa fa-power-off btn-inverse no-hover"></i>
												<a class="user" href="#"> Alex Doe </a>

												logged out.
												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i> 16 hours ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>

										<div class="profile-activity clearfix">
											<div>
												<i class="pull-left thumbicon fa fa-key btn-info no-hover"></i>
												<a class="user" href="#"> Alex Doe </a>

												logged in.
												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i> 16 hours ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="hr hr2 hr-double"></div>

						<div class="space-6"></div>

						<div class="center">
							<button type="button" class="btn btn-sm btn-primary btn-white btn-round">
												<i class="ace-icon fa fa-rss bigger-150 middle orange2"></i>
												<span class="bigger-110">显示更多动态</span>

												<i class="icon-on-right ace-icon fa fa-arrow-right"></i>
											</button>
						</div>

					</div>
				</div>
				<!--// end row -->
			</div>
		</div>
	</div>
	<!--End Activity-->
	<% include footer.html%>
	</body>
</html>