<!DOCTYPE html>
<html lang="cn">
	<% include header.html %>
	<body id="body" data-spy="scroll" data-target=".header">
	<%include navigation.html%>
	<!-- Contact -->
	<div id="contact">
		<div class="bg-color-sky-light">
			<div class="container content-lg">
				<div class="row">
					<div class="col-sm-3 sm-margin-b-30">
						<div class="text-right sm-text-left">
							<h2 class="margin-b-0">联系我</h2>
							<p>雇佣我</p>
						</div>
					</div>
					<div class="col-sm-8 col-sm-offset-1">
						<div class="row">
							<div class="col-md-3 col-xs-6 md-margin-b-30">
								<h5>地址</h5>
								<a href="#">中国, 上海</a>
							</div>
							<div class="col-md-3 col-xs-6 md-margin-b-30">
								<h5>手机</h5>
								<a href="#">+173 0177 6326</a>
							</div>
							<div class="col-md-3 col-xs-6">
								<h5>Email</h5>
								<a href="mailto:#">969975553@qq.com</a>
							</div>
							<div class="col-md-3 col-xs-6">
								<h5>网址</h5>
								<a href="#">www.tengy.com</a>
							</div>
						</div>
					</div>
				</div>
				<!--// end row -->
			</div>
		</div>
	</div>
	<!-- End Contact -->
	<% include footer.html%>
	</body>
</html>