<!DOCTYPE html>
<html lang="cn">
	<%include header.html%>
	<body id="body" data-spy="scroll" data-target=".header">
	<%include navigation.html%>
	<!-- Experience -->
	<div id="experience">
		<div class="bg-color-sky-light" data-auto-height="true">
			<div class="container content-lg">
				<div class="row">
					<div class="col-sm-3 sm-margin-b-30">
						<div class="text-right sm-text-left">
							<h2 class="margin-b-0">学习经历</h2>
							<p>过往学习</p>
						</div>
					</div>
					<div class="col-sm-8 col-sm-offset-1">
						<div class="row row-space-2 margin-b-4">
							<div class="col-md-4 md-margin-b-4">
								<div class="service" data-height="height">
									<div class="service-element">
										<i class="service-icon icon-chemistry"></i>
									</div>
									<div class="service-info">
										<h3>盐城市第一中学</h3>
										<p class="margin-b-5">盐城市第一中学植根于文化厚重、具有光荣革命传统的盐阜老区。学校始建于1923年，是盐城第一所公立中学，曾被陈毅元帅誉为苏北中等教育的“天之骄子”。1990年首批通过江苏省重点高中评估验收，2001年通过国家级示范性高中评估验收，2003年转评为江苏省首批四星级高中，2009年高分通过江苏省四星级高中复审。</p>
										<!--           <a link= "">http://www.powerui.cn/product.php</a>-->
									</div>
									<a href="http://www.jsycyz.cn/" class="content-wrapper-link"></a>
								</div>
							</div>
							<div class="col-md-4 md-margin-b-4">
								<div class="service bg-color-base wow zoomIn" data-height="height" data-wow-duration=".3" data-wow-delay=".1s">
									<div class="service-element">
										<i class="service-icon color-white icon-screen-tablet"></i>
									</div>
									<div class="service-info">
										<h3 class="color-white">南通大学</h3>
										<p class="color-white margin-b-5"> 南通大学，简称“通大”，南通大学坐落于素有“江海明珠”、“中国近代第一城”美誉的沿海开放城市——江苏省南通市，学校是江苏省人民政府和国家交通运输部共建的综合性大学，江苏省十五所重点建设大学成员，教育部“卓越医生教育培养计划”、“卓越教师培养计划”试点高校。</p>
									</div>
									<a href="http://www.ntu.edu.cn/" class="content-wrapper-link"></a>
								</div>
							</div>
							<!--<div class="col-md-4">
                                <div class="service" data-height="height">
                                    <div class="service-element">
                                        <i class="service-icon icon-badge"></i>
                                    </div>
                                    <div class="service-info">
                                        <h3>Front-end</h3>
                                        <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                                    </div>
                                    <a href="#" class="content-wrapper-link"></a>    
                                </div>
                            </div>-->
						</div>
						<!--// end row -->
					</div>
				</div>
				<!--// end row -->
			</div>
		</div>
	</div>
	<!-- End Experience -->
	<% include footer.html%>
	</body>
</html>