<!--========== FOOTER ==========-->
<footer class="footer-inner">
	<div class="footer-content">
		<div class="row">
			<div class="col-xs-6">
				<img class="footer-logo" src="img/logo-dark.png" alt="Aircv Logo">
			</div>
			<div class="col-xs-6 text-right sm-text-left">
				<p>版权所有一潭清泓</p>
				<p>copyRight© 2017 www.tengy.com</p>
			</div>
		</div>
	</div>
</footer>
<!-- Back To Top -->
		<a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

		<!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
		<!-- CORE PLUGINS -->
		<script src="/js/lib/jquery.min.js" type="text/javascript"></script>
		<script src="/js/lib/jquery-migrate.min.js" type="text/javascript"></script>
		<script src="/js/lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

		<!-- PAGE LEVEL PLUGINS -->
		<script src="/js/lib/jquery.easing.js" type="text/javascript"></script>
		<script src="/js/lib/jquery.back-to-top.js" type="text/javascript"></script>
		<script src="/js/lib/jquery.smooth-scroll.js" type="text/javascript"></script>
		<script src="/js/lib/jquery.wow.min.js" type="text/javascript"></script>
		<script src="/js/lib/jquery.parallax.min.js" type="text/javascript"></script>
		<script src="/js/lib/jquery.appear.js" type="text/javascript"></script>
		<script src="/js/lib/masonry/jquery.masonry.pkgd.min.js" type="text/javascript"></script>
		<script src="/js/lib/masonry/imagesloaded.pkgd.min.js" type="text/javascript"></script>

		<!-- PAGE LEVEL SCRIPTS -->
		<script src="/js/layout.min.js" type="text/javascript"></script>
		<script src="/js/components/progress-bar.min.js" type="text/javascript"></script>
		<script src="/js/components/masonry.min.js" type="text/javascript"></script>
		<script src="/js/components/wow.min.js" type="text/javascript"></script>
<!--========== END FOOTER ==========-->
