<!DOCTYPE html>
<html lang="cn">
	<% include header.html%>
	<body id="body" data-spy="scroll" data-target=".header">
	<% include navigation.html%>
	<!--========== SLIDER ==========-->
	<div class="promo-block parallax-window" data-parallax="scroll" data-image-src="/img/1920x1080/01.jpg">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="promo-block-divider">
						<h1 class="promo-block-title">一潭清泓 <br/> </h1>
						<p class="promo-block-text">Softerware Enginer</p>
						<a class="social weixin" href="javascript:">

						</a>
					</div>
					<ul class="list-inline">
						<li>
							<a href="https://github.com/ty969975553/Web-Home" class="social-icons"><i class="fa fa-github"></i></a>
						</li>
						<li>
							<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=969975553&site=qq&menu=yes" class="social-icons"><i class="fa fa-qq"></i></a>
						</li>
						<li>
							<a href="https://weibo.com/u/2617103981" class="social-icons"><i class="fa fa-weibo"></i></a>
						</li>
						<li>
							<a href="javascript:" class="social-icons weixin">
								<img class="qrcode" src="/img/weixin.png" alt="微信二维码">
								<i class="fa weixin fa-weixin"></i>
							</a>
						</li>
						<li>
							<a href="http://www.linkedin.com/in/%E9%98%B3-%E6%BB%95-178bb1112/" class="social-icons"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<!--// end row -->
		</div>
	</div>
	<!--========== SLIDER ==========-->
		<% include footer.html%>
	</body>
</html>