<!DOCTYPE html>
<html lang="cn">
	<% include header.html %>
	<body id="body" data-spy="scroll" data-target=".header">
	<% include navigation.html %>
	<!-- Work -->
	<div id="work">
		<div class="container content-lg">
			<div class="row">
				<div class="col-sm-3 sm-margin-b-30">
					<div class="text-right sm-text-left">
						<h2 class="margin-b-0">工作经历</h2>
						<p>愿成为更优秀的自己</p>
					</div>
				</div>
				<div class="col-sm-8 col-sm-offset-1">
					<!-- Masonry Grid -->
					<div class="masonry-grid row row-space-2">
						<div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
						<div class="masonry-grid-item col-xs-12 col-sm-6 col-md-8 margin-b-4">
							<!-- Work -->
							<div class="work work-popup-trigger">
								<div class="work-overlay">
									<img class="full-width img-responsive" src="/img/800x400/image.gif" alt="Portfolio Image">
								</div>
								<div class="work-popup-overlay">
									<div class="work-popup-content">
										<a href="javascript:void(0);" class="work-popup-close">Hide</a>
										<div class="margin-b-30">
											<h3 class="margin-b-5">PowerUI Designer</h3>
											<span>代码编写 &amp; 层次设计</span>
										</div>
										<div class="row">
											<div class="col-sm-8 work-popup-content-divider sm-margin-b-20">
												<div class="margin-t-10 sm-margin-t-0">
													<p>PowerUI是全球首个全流程跨平台开发套件，支持所有主流的操作系统平台下的界面开发：Windows、Linux、MacOS、Android、iOS等系统，支持所有的主流编程语言：C++、VB、C#、Java、Objective-C等等。区别于QT，PowerUI提供了强大的界面控件和界面特效，用户可以使用任何熟悉的语言进行开发。</p>
													<p>负责整个工具软件的结构设计,代码编写</p>
													<p>主要技能:JavaScript,在V8引擎下解析自定义函数,MFC</p>
													<ul class="list-inline work-popup-tag">
														<li class="work-popup-tag-item">
															<a class="work-popup-tag-link" href="#">设计,</a>
														</li>
														<li class="work-popup-tag-item">
															<a class="work-popup-tag-link" href="#">编码,</a>
														</li>
														<li class="work-popup-tag-item">
															<a class="work-popup-tag-link" href="#">修BUG</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="margin-t-10 sm-margin-t-0">
													<p class="margin-b-5"><strong>项目领导:</strong> 阳毅超</p>
													<p class="margin-b-5"><strong>设计:</strong> 宋晓旭</p>
													<p class="margin-b-5"><strong>开发:</strong> 滕阳</p>
													<p class="margin-b-5"><strong>测试:</strong> 毛庄丽</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End Work -->
						</div>
						<div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 margin-b-4">
							<!-- Work -->
							<div class="work work-popup-trigger">
								<div class="work-overlay">
									<img class="full-width img-responsive" src="/img/800x400/gccp5.jpg" alt="Portfolio Image">
								</div>
								<div class="work-popup-overlay">
									<div class="work-popup-content">
										<a href="javascript:void(0);" class="work-popup-close">Hide</a>
										<div class="margin-b-30">
											<h3 class="margin-b-5">广联达云计价平台GCCP5.0</h3>
											<span>功能设计 &amp; 维护修复</span>
										</div>
										<div class="row">
											<div class="col-sm-8 work-popup-content-divider sm-margin-b-20">
												<div class="margin-t-10 sm-margin-t-0">
													<p>广联达云计价平台GCCP5.0是迎合广联达公司互联网+平台服务商战略转型，为计价客户群，提供概算、预算、结算阶段的数据编制、审核、积累、分析和挖掘再利用的平台产品-广联达云计价平台，于2015年研发完成并投放市场。该平台基于大数据、云计算等信息技术，实现计价全业务一体化，全流程覆盖，从而使造价工作更高效、更智能。</p>
													<p>上海模块开发,主要技能:QT,C++,GSP</p>
													<ul class="list-inline work-popup-tag">
														<li class="work-popup-tag-item">
															<a class="work-popup-tag-link" href="#">维护,</a>
														</li>
														<li class="work-popup-tag-item">
															<a class="work-popup-tag-link" href="#">编码,</a>
														</li>
														<li class="work-popup-tag-item">
															<a class="work-popup-tag-link" href="#">市场支持</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="margin-t-10 sm-margin-t-0">
													<p class="margin-b-5"><strong>项目领导:</strong> 田雪山</p>
													<p class="margin-b-5"><strong>设计:</strong> 不详细</p>
													<p class="margin-b-5"><strong>开发:</strong> 很多同事和我</p>
													<p class="margin-b-5"><strong>测试:</strong> 很多测试MM和GG</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End Work -->
						</div>
						<div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 md-margin-b-4">
							<!-- Work -->
							<div class="work work-popup-trigger">
								<div class="work-overlay">
									<img class="full-width img-responsive" src="/img/800x400/image2.gif" alt="Portfolio Image">
								</div>
								<div class="work-popup-overlay">
									<div class="work-popup-content">
										<a href="javascript:void(0);" class="work-popup-close">Hide</a>
										<div class="margin-b-30">
											<h3 class="margin-b-5">PowerUI Control Creator</h3>
											<span>架构设计 &amp; </span>
										</div>
										<div class="row">
											<div class="col-sm-8 work-popup-content-divider sm-margin-b-20">
												<div class="margin-t-10 sm-margin-t-0">
													<p>PowerUI Control Creator采用可视化的控件开发方式，由javascript完成控件逻辑的编写，降低开发语言门槛</p>
													<p>负责架构设计,主要技能:Flex4,ActionScript,JavaScript,JSON</p>
													<ul class="list-inline work-popup-tag">
														<li class="work-popup-tag-item">
															<a class="work-popup-tag-link" href="#">架构设计,</a>
														</li>
														<li class="work-popup-tag-item">
															<a class="work-popup-tag-link" href="#">编码,</a>
														</li>
														<li class="work-popup-tag-item">
															<a class="work-popup-tag-link" href="#">领导</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="margin-t-10 sm-margin-t-0">
													<p class="margin-b-5"><strong>项目负责人:</strong> 阳毅超</p>
													<p class="margin-b-5"><strong>设计:</strong> 宋晓旭</p>
													<p class="margin-b-5"><strong>开发:</strong> 滕阳</p>
													<p class="margin-b-5"><strong>测试:</strong> 测试部门MM</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End Work -->
						</div>
					</div>
					<!-- End Masonry Grid -->
				</div>
			</div>
			<!--// end row -->
		</div>
	</div>
	<!-- End Work -->
	<% include footer.html%>
	</body>
</html>