/*添加css*/

a.weixin {
	position: relative;
}

.weixin img {
	position: absolute;
	z-index: 99;
	top: 50px;
	right: -28px;
	width: 200px;
	max-width: none;
	height: 200px;
	transform: scale(1);
	transform-origin: top right;
	opacity: 0;
	border: .3125rem solid #0085ba;
	border-radius: .25rem;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.weixin:hover img {
	transform: scale(1);
	opacity: 1;
}

.navbar .navbar-nav>li {
	border: 1px solid rgba(0, 0, 0, .2);
	border-width: 0 0px 0 0;
}

.footer-inner {
	margin-bottom: 0;
}


/*修正框架冲突部分*/

.navbar .navbar-nav>li {
	border: 1px solid rgba(0, 0, 0, .2);
	border-width: 0 0px 0 0;
}

.navbar .navbar-nav>li:first-child {
	border-width: 0 0px;
}

.navbar .navbar-nav>li>a {
	padding-top: 20px;
	height: auto;
}
.navbar-fixed-bottom,
.navbar-fixed-top {
	position: relative;
}

.header {
	margin-top: 0px;
}

@media (max-width: 991px) {
	.navbar .navbar-nav>li>a {
		padding-top: 12px;
	}
}

